<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<connectionStrings>
		<add name="AzureStorageConnectionString" connectionString="DefaultEndpointsProtocol=https;AccountName=<ACCOUNT_NAME_GOES_HERE>;AccountKey=<ACCOUNT_KEY_GOES_HERE>" />
	</connectionStrings>
	<appSettings>
		<add key="ImageFolderLocation" value="C:\!backups\Images\"/>
		<add key="PauseAfterEachFile" value="true" />
		<add key="StartUploadAtFilesBeginningWithLetter" value="aa"/>
	</appSettings>
</configuration>